[user]
	name = Justin Chan
	email = justin.the.c@gmail.com
[push]
	default = upstream
[pull]
	default = current
[color]
	ui = true
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[alias]
	# git basic commands

	a = add .
	b = branch
	c = commit -m
	ca = commit -am
	co = checkout
	cob = checkout -b
	d = diff
	dl = diff HEAD^
	f = fetch
	l = log
	p = push
	s = status
	uncommit = reset --soft HEAD^

	# list aliases
	alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\t=> \\2/' | sort
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
